{% extends 'base.html.twig' %}

{% block title %}Edit DemandeurEmploi{% endblock %}

{% block body %}
    <h1>Edit DemandeurEmploi</h1>

    {{ include('demandeur_emploi/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('demandeur_emploi_index') }}" class="btn btn-primary">back to list</a>

    {{ include('demandeur_emploi/_delete_form.html.twig') }}
{% endblock %}
