{% extends 'base.html.twig' %}

{% block title %}contact!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>     Nos Contacts! ✅</h1>
    <h2>     785999513! ✅</h2>
    <h2>     diallo99bouss@gmail.com! ✅</h2>
    <h2>     Medina Rue 45! ✅</h2>
  
</div>
<div class="mapouter"><div class="gmap_canvas"><iframe width="937" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=dakar%20medina%20rue%2045&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies2.org">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:937px;}</style><a href="https://www.embedgooglemap.net">google map codes for website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:937px;}</style></div></div>{% endblock %}
